.container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
}

header {
    background-color: rgb(1, 78, 86);
    width: 1510px;
}

.logo {
    color: white;
    margin-left: 165px;
}

nav ol {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 18px;
    margin-left: 80px;
}

nav ol li {
    list-style: none;
}

nav ol li a {
    text-decoration: none;
    color: white;
}

button  {
    width: 120px;
    height: 35px;
    color: white;
    border: 1px solid;
    background-color:  rgb(1, 78, 86);
    border-radius: 220px;
    margin-top: 25px;
    margin-left: 650px;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    width: 120px;
    height: 35px;
    color: black;
    border: 1px solid;
    background-color:  aqua;
    border-radius: 220px;
    margin-top: 25px;
    margin-left: 650px;
}

main {
    width: 1510px;
    height: 600px;
    background-color:  rgb(1, 78, 86);
    position: relative;
    bottom: 70px;
}

.hero h2 {
    font-size: 84px;
    color: white;
    margin-left: 195px;
    padding-top: 150px;
    line-height: -10px;
}



.hero p {
    color: white;
    margin-left: 830px;
    margin-top: -100px;
}

.bck-fon {
    width: 1510px;
    height: 1002px;
    background-color: rgb(0, 64, 71);
    margin-top: 300px;
}

.bck-fon h2 {
    font-size: 48px;
    color: white;
    text-align: center;
    padding-top: 150px;
}

 .bck-fon > ul > li {
    width: 350px;
    height: 250px;
    background-color: rgb(1, 47, 52);
}

ul {
    display: flex;
    list-style: none;
    gap: 40px;
    margin-left: 150px;
    margin-top: 80px ;
}

ul li img {
    margin-left: 120px;
    margin-top: 40px;
}

ul li span {
    margin-left: 120px;
}

ul li p {
    color: white;
    margin-left: 120px;
}

.brend {
    width: 1510px;
    height: 437px;
    background-color: rgb(1, 47, 52);
}

.brend h3 {
    font-size: 48px;
    text-align: center;
    color: white;
   margin-top: -10px;
   padding-top: 50px;
}

.brends ul {
    display: flex;
}

.brends ul li img {
    width: 165px;
    height: 38px;
    margin-right: -120px;
}

.red {
    width: 1510px;
    height: 200px;
    background-color: rgb(246, 126, 126);
    padding-top: 20px;
    display: flex;
}

.red h4 {
    font-size: 64px;
    margin-left: 150px;
    color: rgb(1, 47, 52);
    margin-top: 60px;
}

.button-two {
    width: 120px;
    height: 35px;
    color: rgb(1, 47, 52);
    border: 1px solid;
    background-color: rgb(246, 126, 126) ;
    border-radius: 220px;
    margin-top: 80px;
    margin-left: 400px;
}

.button-two:hover {
    width: 120px;
    height: 35px;
    color: black;
    border: 1px solid;
    background-color:  aqua;
    border-radius: 220px;
    margin-top: 80px;
    margin-left: 400px;
}

footer {
    background-color: rgb(0, 37, 41);
    width: 1510px;
    height: 196px;
    margin-top: 1520px;
    display: flex;
}

.logo-footer h1 {
    color: white;
    position: relative;
    top: 80px;
    left: 100px;
    width: 40px;
    height: 40px;
}

.logo-footer ul {
    display: flex;
    gap: 40px;
    margin-left: 60px;
    margin-top: 90px;
}

.logo-footer ul li {
    list-style: none;
}

.logo-footer ul li a {
    text-decoration: none;
    color: white;
}


.footer-info {
    color: slategray;
    margin-left: 300px;
    margin-top: 100px;
}

.icons {
    margin-left: 600px;
    margin-top: 100px;
    gap: 120px;
}

.icons span {
    color: slategray;
    position: relative;
    top: 50px;
    left: -150px;
    font-size: 12px;
}